<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/site.css"/>
</head>
<body>
    <header class="menu">
        <ul class="main-bar">
            <li class="navi-btn">
                <a href="/">Home</a>
            </li>
            <li class="navi-btn">
                <a href="/all">View All Books</a>
            </li>
            <li class="navi-btn">
                <a href="/add">Add Book</a>
            </li>
        </ul>
    </header>

   <div class="container">
       {{{body}}}
   </div>

    <footer>
        Copyright 2018
    </footer>
</body>
</html>

